# Copyright (c) 2025 ITE Corporation.
# SPDX-License-Identifier: Apache-2.0

config I3C_CTRL_DUMMY
	bool "I3C controller dummy driver"
	depends on DT_HAS_ITE_I3C_CTRL_DUMMY_ENABLED
	default y if I3CM_IT51XXX

config I3C_CTRL_DUMMY_GETSTATUS_POLLING_MS
	int "the polling time(ms) of GETSTATUS work"
	depends on I3C_CTRL_DUMMY
	default 50
