# Copyright (c) 2025 ITE Corporation.
# SPDX-License-Identifier: Apache-2.0

if HWINFO

config HWINFO_ITE
	bool "ITE SoC Chip ID"
	default y if SOC_IT51XXX || SOC_IT8XXX2
	help
	  Enable ITE hwinfo driver

endif #HWINFO
