# Copyright (c) 2025 ITE Corporation.
# SPDX-License-Identifier: Apache-2.0

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"

rsource "system_event_log/Kconfig"
rsource "system_info/Kconfig"
